
fastapi
uvicorn[standard]
pydantic>=2.0.0
pydantic-settings
python-dotenv
grpcio
grpcio-tools
langchain>=0.3.0
langchain-core
langchain-community
langchain-openai
langgraph
llama-parse
langchain-text-splitters
sqlalchemy
aiomysql
cryptography
redis
chromadb
tenacity
httpx